{% extends 'sonnit_server/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Sonnit</h1>
    <p class="lead">Tired of reading the same old sonnets over and over? Sonnit solves this problem by generating poetry with true sonnet structure, while being based on any corpus you desire.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Try it</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-4">
        <h4>Make a new sonnet</h4>
        <p>We have a wide selection of subreddits to theme from</p>
    </div>
    <div class="col-lg-4">
        <h4>View previously generated sonnets</h4>
        <p>Vote on your favorites and see what the community has made</p>
    </div>
    <div class="col-lg-4">
        <h4>Learn about how this works</h4>
        <p>We have a thorough writeup on the process</p>
    </div>
</div>
{% endblock %}
